---
interface Props {
  text: string;
  color?: string;
  textColor?: string;
}

const {
  text,
  color = "bg-hardhat",
  textColor = "text-brown",
} = Astro.props;
---

<span
  class={`inline-flex shrink-0 items-center rounded-full px-2.5 py-1 text-xs font-semibold ${color} ${textColor}`}
>
  {text}
</span>
